
body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #eeeeee;
	background-image: url("http://www.transparenttextures.com/patterns/paper.png");

}

a {
	color: #333;
}

.jumbotron {
	background-color: #ffffff;
	background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");

}

.jumbotron h1 {
	font-family: 'Olde english';
	text-align: center;
    font-size: 6em;
    color: #000;
}

.btn {
	font-size: .75em;
}

.btn:hover {
	color: #000;
}

#save {
	border: 1px solid #999;
    background-color: #ccc;
	font-family: 'Times New Roman';
    font-size: 1em;

}

#search {
	background-color: #97a5af;
    border-color: #8e9aa2;
    font-family: 'Times New Roman';
    font-size: 1em;
}

.navbar-default {
	border: 1px solid #aaa;
	background-color: #ffffff;
	background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");

	

}

#home{
	font-size: 1.5em;
    color: #333;
    font-family: 'Times New Roman';
}


.form-control {
	font-family: 'Times New Roman';
    font-size: 1.5em;
}

span.btn button:hover {
	color: #000;
}

span.btn button:visited {
	background-color: #555;
}

.panel-primary {
	border-color: #aaa;
	background-color: #ccc;
}

.list-item {
	border: 1px solid #999;
	background-color: #fff;
	background-image: url("http://www.transparenttextures.com/patterns/paper.png");

}

.list-item a h4 {
	font-size: 1.75em;
	margin-top: 15px;
	font-family: 'Time New Roman'; 
}

.list-item h1 {
	margin-top: 5px;
    text-align: center;
    color: #999;
}




