html {
	height: 100%;
}

body {
	min-height: 100%;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #c7a047;
	background-image: url("http://www.transparenttextures.com/patterns/paper.png");
    border-width: 2px;
    border-color: #5a5d14;
    border-style: solid;
    box-shadow: 0px 0px 30px #404209 inset;


}

a {
	color: #333;
}

.jumbotron {
	background-color: rgba(214, 192, 141, 0);
	background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");

}

.jumbotron h1 {
	font-family: 'Olde english';
	text-align: center;
    font-size: 6em;
    color: #502403;
}

.btn {
	font-size: .75em;
}

/*.btn:hover {
	color: #000;
}*/

#search {
	font-size: 1.25em !important;
    background-color: rgb(181, 143, 31);
    border-color: rgba(165, 134, 54, 0);
    font-family: 'Times New Roman';
    font-size: 1em;
    background-image: url("http://www.transparenttextures.com/patterns/paper.png");
}

#search:hover {
	background-color: #f5de9e;
    color: #502403;
}

#save {
	font-size: 1.25em !important;
    background-color: rgba(230, 200, 127, 0.28);
	font-family: 'Times New Roman';
    font-size: 1em;
    background-image: url("http://www.transparenttextures.com/patterns/paper.png");

}

#save:hover {
    background-color: rgb(124, 93, 3);
    color: #f7ebce;
}

.navbar-default {
	background-color: #c7a047;
	background-image: url("http://www.transparenttextures.com/patterns/paper.png");
    border-style: solid;
}

#home{
	font-size: 1.5em;
    color: #333;
    font-family: 'Times New Roman';
}


.form-control {
	border: 0px;
	font-family: 'Tangerine', cursive;
    font-size: 2.5em;
    background-color: rgb(232, 224, 204);
	background-image: url("http://www.transparenttextures.com/patterns/paper.png");
}

.form-control, input {
	color: #502403;
}

span.btn button:hover {
	color: #000;
}

span.btn button:visited {
	background-color: #555;
}

.panel-primary {
    border-color: #90801c;
    background-color: #8e6b03;
    box-shadow: 0px 0px 30px #404209 inset;
    border-width: 2px;
}

.list-item {
    border: 1px solid rgba(255, 240, 207, 0) !important;
    background-color: rgba(255, 240, 207, 0);
	background-image: url("/images/reactScrapper.png");
	background-size: cover;

}

.list-item a h4 {
	color: #502403;
	font-size: 1.5em;
	margin-top: 20px;
	font-family: 'Time New Roman'; 
}

.list-item h1 {
	font-size: 2em;
	font-family: 'Tangerine', cursive;
	margin-top: 5px;
    text-align: center;
    color: #734e27;
}




